<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FaustGames.Controls.Properties.ControlsSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FaustGames.Controls.Properties.ControlsSettings>
            <setting name="DymmySettingToCreateProvider" serializeAs="String">
                <value />
            </setting>
        </FaustGames.Controls.Properties.ControlsSettings>
    </userSettings>
</configuration>